*{
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
}

.tophead{
    width: 100%;
    height: 3em;
    background: #0aaaa0;
    color: #fff;
    display: flex;
    justify-content: space-between;
}
.contact{
    max-width: 100%;
    padding: 0em 10em 0em 0em;
}
.contact ul{
    padding-top: 1em;
}
.contact ul li a{
    color: #fff;
    font-size: .9em;
}
.contact ul li a i{
    color: #fff;
    font-size: .7em;
    margin-right: 10px;
    margin-left: 10px;
}
.social{
    max-width: 100%;
    padding: 0em 0em 0em 10em;
}
.social ul{
    padding-top: 1em;
}
.social ul li a i{
    color: #fff;
    font-size: .7em;
}
.fa-facebook:hover{
    color: #2b65e2;
}
.fa-twitter:hover{
    color: #06ffde;
}
.fa-google-plus:hover{
    color: #ff0000c8;
}
.fa-youtube:hover{
    color:rgb(255, 0, 0)
}
.fa-instagram:hover{
    color: #ff00bb;
}
.fa-linkedin:hover{
    color: #00b3ff;
}
.contact-info{
    display: flex;
    margin-top: -35px;
    padding-left: 50em;
}

.contact-info ul li a i{
    color: #fff;
    font-size: .7em;
}
.cont-text{
    font-size: .9em;
}
/*Nav Section*/
.navagation{
    display: flex;
    padding: 1% 10%;
    justify-content: space-between;
    align-items: center;
}
ul li{
    list-style: none;
    display: inline;
    padding: 1em 1em;
    
}
ul li a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.771);

}
.navagation ul li a:hover{
    color: #0aaaa0;
    border-bottom: 2px solid rgb(37, 134, 156);
}


.navbtn{
    text-decoration: none;
    margin-left: 13em;
    border: 1px solid rgb(255, 255, 255);
    padding: 8px 12px;
    background-color: #0aaaa0;
    color: white;
    font-size: 1em;
    border-radius: 2px;
    transition: .3s ease-in-out;
}
.navbtn:hover{
    color: black;
}

/*Head Section*/
.main{
    width: 100%;
    height: 40em;
    background-image: linear-gradient(rgba(0, 0, 0, 0.488),rgba(3, 0, 0, 0.762)),url(images/kids2.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.title{
    color: #fff;
    width: 90%;    
    top: 35%;
    left: 10%;
    position: absolute;
   
}
.title h1{
    font-size: 4rem;
}
.title p{
    font-size: 1em;
    margin-top: 1.5rem;
}
.pushbtn{
    margin-top: 3em; 
    margin-right: 1.5em;
    text-decoration: none;
    padding: 1rem 2rem;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: .3em;
    color: #fff;    
    transition: .2s ease-in-out;
}
.pushbtn:hover{
    background-color: #0aaaa0;
    border:  1px solid #0aaaa0;
    color: #000;

}

/*Blog Section Started*/
.blogsec{
    width: 100%;
}
.Blog-title{
    text-align: center;
    margin:auto;
    width: 40%;
    align-items: center;
}
.Blog-title h2{
    margin-top: 2.5em;
    font-size: 2.5em;
}
.color{
    color: #0aaaa0;
}

.blog-container{
    display: flex;
    margin: 5em 9em 0 9em;
}
.blog-col{
    padding-right: 1em;
    padding-left: 1em;
}
.blog-card{

    border: 1px solid #efefef;
    padding-bottom: 2em;
}
.blog-image{
    position: relative;
    height: auto;
}
.blog-image img{
    width: 100%;
    height: auto;
}
.blog-image .date{
    background: #0aaac0;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    left: 0;
    line-height: 5em;
    position: absolute;
    text-align: center;
    top: 0;
    width: 5em;
    text-decoration: none;
    font-family: sans-serif;
}
.info{  
    padding-top: 11px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 3em;
}
.info .name{
    width: 50%;
    float: left;
}
.name a{
    color: #8888;
    font-size: 14px;
    text-decoration: none;
}
.name a i{
    margin-right: 4px;
}

.like-comment{
    float: right;
    text-align: right;
    width: 50%;
}
.like-comment a{
    border-right: 1px solid #8888;
    color: #8888;
    padding: 0 7.5px;
    text-decoration: none;
}
.like-comment .fa-heart:hover{
    color: #ff0000;
}
.like-comment .fa-comment:hover{
    color: #2b65e2;
}
.text{
    padding: 15px;
}
.text h3{
    color: #000000;
    font-size: 1.2em;
    margin-bottom: 1em;
}
.readmore{
    float: right;
    color: #000000;
    text-decoration: none;
    border-bottom: 1px solid #000000;
    font-weight: 200;
    line-height: 2em;
}
.readmore:hover{
    color: #0aaaa0;
}

/*sponser section started here*/
.Sponser-title{
    text-align: center;
    margin:auto;
    width: 40%;
    align-items: center;
}
.Sponser-title h2{
    margin-top: 2.5em;
    font-size: 2.5em;
}
.color{
    color: #0aaaa0;
}
.Sponser{
    margin-top: 2em;
}
.sponser-image{
   max-width: 100%;
    margin: 0 9em 0 9em;
}
.sponser-image img{
    width: 100%;
}


/*footer Section Started*/
.footer-row-coloumn{
    background-color: #000000dd;
    color: #fff;
    margin-top: 5em;  
    width: 100%;
}
.footer-area{
    max-width: 80%;
    padding: 5em 8em 4em 11em;

}
.footer-container{
    display: flex;
}

.aboutus-title{
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 45px;
}
.border-bottom{
    background-color: #0aaaa0;
    color: transparent; 
    width:2em;
    height: 2px;
    margin-top: 5px;
}
.footer-contact h3{
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin-top: 2em;
    margin-bottom: 1em;
}
.footer-contact a{
    text-decoration: none;
    color: #fff ;
    display: block;
    line-height: 2em;
}
.footer-contact a:hover{
    color: #0aaaa0;
}

/*********This CSS is used for project and quick link coloumn**********/
.footer-project-quicklinks{
    padding-left: 2em;
    padding-right: 4em;
}
.project-quiclinks-title h3{
    color: #fff;
}
.border-bottom{
    background-color: #0aaaa0;
    color: transparent; 
    width:2em;
    height: 2px;
    margin-top: 5px;
}

.project-quicklinks-links a{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    line-height: 2.6em;
    display: block;
}
.project-quicklinks-links a:hover{
    color: #06ffde;
}
.project-quicklinks-links{
    margin-top: 2.5em;

}
.fa-angle-right{
    padding-right: 10px;
}

/**********News Letter Section started *********/
.footer-newsletter{
    width: 32%;
}
.newsletter-title{
    padding-bottom: 3em;
}
.border-bottom{
    background-color: #0aaaa0;
    color: transparent; 
    width:2em;
    height: 2px;
    margin-top: 5px;
}
.form-footer{
    padding-top:3em;
}
.email-footer input{
    height: 2.2em;
    width: 14em;

}
.submit-button{
    display: inline;
}
.submit-button button{
    width: 3em;
    height: 2.5em;
    background-color: #0aaaa0;
    color: #fff;
    border: none;
    margin-left: -.5em;
    cursor: pointer; 
}

/**********bottom end********/
.bottom-end{
    background-color: #000000;
    color: #fff;
    display: flex;
    height: 4em;
    justify-content: space-between;
    padding: 0em 11em 0 11em;
      
}
.bottom-end-text{
    padding-top: 1.5em;
}
.bottom-end-text h4{
    font-family: sans-serif;
    font-weight: 100;
}
.bottom-icons{
    padding-top:1.5em;
}
.bottom-icons a{
    color: #fff;
}
.bottom-icons .fa{
    font-size: .8em;
}
.bottom-end-text i{
    color: #ff0000;
}
.bold{
    font-weight: bold;
    cursor: pointer;
}