*{
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
}

.tophead{
    width: 100%;
    height: 3em;
    background: #0aaaa0;
    color: #fff;
}
.social{
    width: 40%;
}
.social ul{
    display: flex;
    padding-left: 15em;
    width: 100%;
}

.social ul li a i{
    color: rgb(255, 255, 255);
    font-size: .7em;
}

.contact-info{
    display: flex;
    margin-top: -35px;
    padding-left: 50em;
}

.contact-info ul li a i{
    color: #fff;
    font-size: .7em;
}
.cont-text{
    font-size: .9em;
}
/*Nav Section*/
.navagation{
    display: flex;
    padding: 1% 10%;
    justify-content: space-between;
    align-items: center;
}
ul li{
    list-style: none;
    display: inline;
    padding: 1em 1em;
    
}
ul li a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.771);

}
.navagation ul li a:hover{
    color: #0aaaa0;
    border-bottom: 2px solid rgb(37, 134, 156);
}


.navbtn{
    text-decoration: none;
    margin-left: 13em;
    border: 1px solid rgb(255, 255, 255);
    padding: 8px 12px;
    background-color: #0aaaa0;
    color: white;
    font-size: 1em;
    border-radius: 2px;
}
.navbtn:hover{
    color: black;
}

/*Head Section*/
.main{
    width: 100%;
    height: 40em;
    background-image: linear-gradient(rgba(0, 0, 0, 0.488),rgba(3, 0, 0, 0.762)),url(photos/kids2.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
.title{
    color: rgb(237, 226, 226);
    width: 90%;    
    top: 35%;
    left: 10%;
    position: absolute;
   
}
.title h1{
    font-size: 4rem;
}
.title p{
    font-size: 1em;
    margin-top: 1.5rem;
}
.pushbtn{
    margin-top: 3em; 
    margin-right: 1.5em;
    text-decoration: none;
    padding: 1rem 2rem;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    border: 1px solid rgb(255, 255, 255);
    border-radius: .3em;
    color: #fff;    
    transition: .2s ease-in-out;
}
.pushbtn:hover{
    background-color: #000000;

}

/*Blog Section Started*/

/*blog title*/
.Blog-Sponser-title{
    text-align: center;
    margin:auto;
    width: 40%;
    align-items: center;
}
.Blog-Sponser-title h2{
    margin-top: 2.5em;
    font-size: 2.5em;
}
.color{
    color: #0aaaa0;
}
.Blog-Sponser-title p{
    margin-top: 1.5em;
}



/*Blog Cards*/

.blog-row{
    display: flex;
    margin: 10em;
    padding-left: 1em;
    margin-top: 4em;
    margin-bottom: 10px;
}
.blog-col{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.single-blog{

    border: 1px solid #efefef;
    overflow: hidden;
    padding-bottom: 15px;
}
.blog-image{
    position: relative;
    height: auto;
}
.blog-image img{
    max-width: 100%;
    height: auto;
}
.blog-image a{
    background: #0aaac0;
    color: #fff;
    font-family: "Lato",sans-serif;
    font-size: 14px;
    font-weight: bold;
    left: 0;
    line-height: 5em;
    position: absolute;
    text-align: center;
    top: 0;
    width: 5em;
    text-decoration: none;
}
.info{
    padding: 11px 15px 31px;
}
.info .name{
    width: 50%;
    float: left;
}
.name a{
    color: #8888;
    font-size: 14px;
    text-decoration: none;
}
.name a i{
    margin-right: 4px;
}

.like-comment{
    float: right;
    text-align: right;
    width: 50%;
}
.like-comment a{
    border-right: 1px solid;
    color: #8888;
    padding: 0 7.5px;
    text-decoration: none;
}

.text{
    padding: 15px;
}
.text h3{
    color: #000000;
    font-size: 1.2em;
    margin-bottom: 1em;
}
.readmore{
    float: right;
    color: #000000;
    text-decoration: none;
    border-bottom: 1px solid #000000;
    font-weight: 200;
    line-height: 2em;
}
.readmore:hover{
    color: #0aaaa0;
}
.sponser{
    padding-left: 8.6em;
    padding-top: 2em;
}
.footer-row-coloumn{
    background-color: #000000dd;
    color: #fff;
    margin-top: 5em;  
}
.footer-area{
    width: 80%;
    padding-left: 12em;
    padding-top: 4em;

}
.footer-container{
    display: flex;
    padding-bottom: 3em;
}

.aboutus-title{
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 45px;
}
.footer-contact h3{
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin-top: 2em;
    margin-bottom: 1em;
}
.footer-contact a{
    text-decoration: none;
    color: #fff ;
    display: block;
    line-height: 2em;
}
.footer-project{
    padding-left: 2em;
    padding-right: 4em;
}
.project-title h3{
    color: #fff;
}
.project-links a{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    line-height: 2.6em;
    display: block;
}
.project-links a:hover{
    color: #06ffde;
}
.project-links{
    margin-top: 2.5em;

}
.fa-angle-right{
    padding-right: 10px;
}
.footer-newsletter{
    width: 30%;
}
.newsletter-title{
    padding-bottom: 3em;
}
.form-footer{
    padding-top:3em;
}
.email-footer input{
    height: 2em;
    width: 14em;
}
