*{
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
}

.tophead{
    width: 100%;
    height: 3em;
    background: #0aaaa0;
    color: #fff;
}
.social{
    width: 40%;
}
.social ul{
    display: flex;
    padding-left: 15em;
    width: 100%;
}

.social ul li a i{
    color: rgb(255, 255, 255);
    font-size: .7em;
}

.contact-info{
    display: flex;
    margin-top: -35px;
    padding-left: 50em;
}

.contact-info ul li a i{
    color: #fff;
    font-size: .7em;
}
.cont-text{
    font-size: .9em;
}
/*Nav Section*/
nav{
    display: flex;
    padding: 1% 10%;
    justify-content: space-between;
    align-items: center;
}
ul li{
    list-style: none;
    display: inline;
    padding: 1em 1em;
    
}
ul li a{
    text-decoration: none;
    color: rgba(67, 59, 59, 0.771);
   
}
.name li a:hover{
    color: rgb(57, 174, 178);
    border-bottom: 2px solid rgb(51, 184, 189);
}
.navbtn{
    text-decoration: none;
    margin-left: 13em;
    border: 1px solid rgb(255, 255, 255);
    padding: 8px 12px;
    background-color: #0aaaa0;
    color: #fff;
    font-size: 1em;
    border-radius: .2em;
}

/*Head Section*/
.main{
    width: 100%;
    height: 40em;
    background-image: linear-gradient(rgba(0, 0, 0, 0.488),rgba(3, 0, 0, 0.762)),url(photos/kids2.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
.title{
    color: rgb(237, 226, 226);
    width: 90%;    
    top: 35%;
    left: 10%;
    position: absolute;
   
}
.title h1{
    font-size: 4rem;
}
.title p{
    font-size: 1em;
    margin-top: 1.5rem;
}
.pushbtn{
    margin-top: 3em; 
    margin-right: 1.5em;
    text-decoration: none;
    padding: 1rem 2rem;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    border: 1px solid rgb(255, 255, 255);
    border-radius: .3em;
    color: #fff;    
    transition: .2s ease-in-out;
}
.pushbtn:hover{
    background-color: #0aaaa0;

}

/*Blog Section Started*/

/*blog title*/
.title1{
    text-align: center;
    margin:auto;
    width: 40%;
    align-items: center;
}
.title1 h2{
    margin-top: 2.5em;
    /*border-bottom: 1px solid black;*/
    font-size: 2em;
}
.color{
    color: #0aaaa0;
}
.title1 p{
    margin-top: 1.5em;
}


/*Blog Cards*/

/*.container{
    margin-top: 5em;
    padding-left: 5em;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.blogimg{
    position: relative;

}
.blogimg img{
    border: 1px solid #f2f2f2;
    width: 20em;
}
.blogimg a{
    background: #0aaac0;
    color: #fff;
    font-family: "Lato",sans-serif;
    font-size: 14px;
    font-weight: bold;
    left: 1px;
    line-height: 5em;
    position: absolute;
    text-align: center;
    top: 1px;
    width: 5em;
    text-decoration: none;
}
.info{
   padding: 11px 15px 31px;
}
.info .name{
    width: 50%;
    float: left;
}
.info .name a{
    font-size: 14px;
    color: #888;
    text-decoration: none;
}*/
